.places {
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.places > h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
}

.places > article {
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.places > article > h2 {
    font-size: 30px;
    margin: 0 0 0 0;
    align-self: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.price_by_night > p {
    margin: 0 0 0 0;
}

.information {
    align-self: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest , .number_rooms, .number_bathrooms {
    margin: auto 20px auto 10px;
    text-align: center;
    position: relative;

}

.max_guest > p, .number_rooms > p, .number_bathrooms > p {
    margin: auto 0 auto 10px;
}

.image_guest {
    margin-left: auto;
    margin-top: auto;
    width: 50px;
    height: 50px;
    background: url("../images/icon_group.png") no-repeat center;
}

.img_room {
    margin-left: 25%;
    margin-top: auto;
    width: 50px;
    height: 50px;
    background: url("../images/icon_bed.png") no-repeat center;
}

.img_bathrooms {
    margin-left: 25%;
    margin-top: auto;
    width: 50px;
    height: 50px;
    background: url("../images/icon_bath.png") no-repeat center;
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.description > p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.pov, pov > ul, .rev, rev > ul{
    list-style-type: none;
}

article .amenities{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
}

article .amenities > h2, .review > h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.rev {
    padding-left: 0px;
    margin-top: 20px;
}
.rev > li > h3{
    font-size: 14px;
    margin-bottom: 0px;

}

.rev p {
    font-size: 12px;
    margin-top: 5px;
}

.pov {
    padding: 0px 0px 0px 0px;
}

/*Imgs for amenities*/
article .amenities ul li {
    background-repeat: no-repeat;
	background-position: 2px;
	padding-left: 30px;
	background-size: 20px;
	margin-bottom: 10px;
}
article .amenities ul li:nth-child(1) {
    background-image: url("../images/icon_tv.png");
}
article .amenities ul li:nth-child(2) {
    background-image: url("../images/icon_wifi.png");
}
article .amenities ul li:nth-child(3) {
    background-image: url("../images/icon_pets.png");
}

@media only screen and (max-width: 765px) {
    .places > article {
        width: 50%;
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .places {
        width: 100%;
        border: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .price_by_night {
        color: #FF5A5F;
        border: 2px solid #FF5A5F;
        min-width: auto;
        height: 4%;
        font-size: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-top: 2%;
        position: absolute;
        top: 1%;
        right: 5%;
    }
    .places > article > h2 {
        font-size: 130%;
        align-self: center;
    }
    .information {

        margin-top: 5%;
        align-self: center;
        height: 80%;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        border-top: 1px solid #DDDDDD;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .img_room {
        background-size: 70%;
    }
    .image_guest {
        background-size: 70%;
    }
    .img_bathrooms {
        background-size: 70%;
    }
    .max_guest , .number_rooms, .number_bathrooms {
        margin: auto 20px auto 10px;
        text-align: center;
        position: relative;
        font-size: 100%;
    }
}

@media only screen and (max-width: 505px) {
    .places > article > h2 {
        font-size: 130%;
        align-self: center;
    }
    .price_by_night {
        color: #FF5A5F;
        border: 2px solid #FF5A5F;
        min-width: auto;
        height: 2%;
        font-size: 80%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-top: 4%;
        position: absolute;
        top: 1%;
        right: 6%;
    }
    .information {
        margin-top: 5%;
    }
}